In [1]:
import numpy as np
import pandas as pd

## Import Data

In [2]:
indeed = pd.read_csv('data/datafest2018.csv')

In [3]:
indeed_p = pd.read_csv('data/100000_sample.csv')

In [17]:
indeed.isnull().sum()

date                                 0
companyId                            0
jobId                                0
country                              0
stateProvince                        0
city                            348239
avgOverallRating                   301
numReviews                     9374619
industry                      15817476
normTitle                      1593057
normTitleCategory              1593057
descriptionCharacterLength           0
descriptionWordCount                 0
experienceRequired            11002733
estimatedSalary                      0
salaryCurrency                14641267
jobLanguage                          0
supervisingJob                 2164079
licenseRequiredJob             2164079
educationRequirement           2164079
jobAgeDays                           0
clicks                               0
localClicks                          0
dtype: int64

In [5]:
indeed.date.max()

'2017-11-30'

In [ ]:
indeed.city.dropna()

In [17]:
(indeed.stateProvince=='UNKNOWN').sum()

131838

In [40]:
city_list = indeed.city.dropna()

In [43]:
city_list = city_list.apply(lambda x: x.lower()).unique()

In [26]:
indeed.descriptionWordCount.min()

2

In [25]:
indeed.jobLanguage.unique()

array(['EN', 'DE', 'FR'], dtype=object)

## Company v.s. Job

In [51]:
indeed.groupby(['companyId','country','stateProvince'])['jobId'].agg('nunique')

companyId     country  stateProvince
company00000  US       TX                 1
company00001  US       MA                97
company00002  US       DC                 1
                       FL                 1
company00003  CA       AB                24
                       BC                41
                       MB                 8
                       NB                 2
                       NL                 3
                       NS                 3
                       ON                97
                       PE                 2
                       QC                21
                       SK                 4
              US       AK                 3
                       AL                21
                       AR                 7
                       AZ                46
                       CA               200
                       CO                39
                       CT                19
                       DE                 4
                       FL               138
                       GA               125
                       HI                 5
                       IA                 9
                       ID                14
                       IL                69
                       IN                15
                       KS                20
                                       ...
company99981  US       GA                 1
                       KS                 2
                       MA                 1
                       PA                 1
company99982  CA       ON                 1
company99983  US       MD                 2
                       TX                 1
company99984  DE       BB                 4
                       ST                 2
company99985  DE       NW                 1
company99986  US       CT                 1
company99987  US       CA                 1
company99988  CA       AB                 1
company99989  US       MO                 1
company99990  US       MN                 1
company99991  US       TX                 1
company99992  US       CO                 1
company99993  US       CA                 1
                       MA                 1
                       MI                 2
                       NY                 2
                       PA                 1
                       SC                 1
                       WI                 1
company99994  US       MI                 4
company99995  DE       BY                 1
company99996  US       WI                 1
company99997  CA       AB                 1
company99998  US       CA                 1
company99999  US       FL                 1
Name: jobId, Length: 390137, dtype: int64

In [46]:
indeed.groupby(['companyId','jobId'])['clicks'].agg('sum')

companyId     jobId
company00000  job0000000      37
company00001  job0000001      54
              job0000070      39
              job0003468     494
              job0013295     591
              job0018408    1078
              job0032246     287
              job0049452     571
              job0057213     274
              job0060862     241
              job0094747     742
              job0095981     969
              job0120450     320
              job0122918     746
              job0130841    1095
              job0133529    1203
              job0143853    1192
              job0171653     148
              job0180410    4874
              job0202154    1092
              job0210898      80
              job0225580    1274
              job0227715     268
              job0232420     359
              job0264991      68
              job0267698      69
              job0277008     544
              job0291289     682
              job0291290     752
              job0293632    1302
                            ...
company99984  job0322256     564
              job0437723      99
              job0629185     153
              job0674088      79
company99985  job0236095     162
company99986  job0236096    1936
company99987  job0236099     674
company99988  job0236100    3200
company99989  job0236101     430
company99990  job0236104     268
company99991  job0236106    1206
company99992  job0236108     637
company99993  job0236112     171
              job0516362      54
              job0745724     141
              job0834707     119
              job0884063      31
              job0890567      73
              job0968774      40
              job1001743      44
              job1009652      22
company99994  job0236114     316
              job0280367    1394
              job0588096     529
              job0670882     266
company99995  job0236116     221
company99996  job0236117     923
company99997  job0236118     210
company99998  job0236119     343
company99999  job0236122     181
Name: clicks, Length: 1084664, dtype: int64

## Most Needed Job/Categories Year/Months

In [ ]:
# overall clicks/local clicks

In [ ]:
# job listing with most clicks
indeed

In [ ]:
# job category with most clicks

In [ ]:
# job title with most clicks

In [ ]:
# salary

In [ ]:
# job listing with highest salary / average

In [ ]:
# job category with highest salary

In [ ]:
# job title with highest salary

In [ ]:
# quantity

In [ ]:
# job listing with most needs

In [ ]:
# job category with highest salary

In [ ]:
# job title with highest salary