In [1]:
import numpy as np
import pandas as pd
import toolz as tz
import toolz.curried as c

In [2]:
pd.set_option('display.max_columns', None)

## Import Data

In [3]:
indeed = pd.read_csv('data/datafest2018.csv')

In [3]:
indeed_p = pd.read_csv('data/100000_sample.csv')

In [4]:
indeed.shape

(17635296, 23)

In [5]:
indeed.isnull().sum()

date                                 0
companyId                            0
jobId                                0
country                              0
stateProvince                        0
city                            348239
avgOverallRating                   301
numReviews                     9374619
industry                      15817476
normTitle                      1593057
normTitleCategory              1593057
descriptionCharacterLength           0
descriptionWordCount                 0
experienceRequired            11002733
estimatedSalary                      0
salaryCurrency                14641267
jobLanguage                          0
supervisingJob                 2164079
licenseRequiredJob             2164079
educationRequirement           2164079
jobAgeDays                           0
clicks                               0
localClicks                          0
dtype: int64

In [5]:
indeed.date.max()

'2017-11-30'

## Cleaning

### Currency

In [6]:
# drop currency
indeed.drop(columns=['salaryCurrency'],inplace=True)

In [7]:
# industry统一为na
indeed.avgOverallRating.fillna(0, inplace=True)

### Rating

In [8]:
# 查看是否只有一种rating
cmpny_aggregated = indeed.groupby(['companyId'])

In [41]:
indeed.shape

(17635296, 22)

In [43]:
# 填充rating & numReviews
indeed['avgOverallRating','numReviews'].fillna(0,inplace=True)
indeed['avgOverallRating'] = cmpny_aggregated['avgOverallRating','numReviews'].apply(lambda x: x-x+x.max())
indeed.avgOverallRating.replace(0, np.nan, inplace=True)

In [45]:
indeed.shape

(17635296, 22)

In [107]:
indeed.avgOverallRating.isnull().sum()

8316846

### Industry

In [108]:
# 计数
# cmpny_aggregated.agg({"duration": np.sum, "user_id": lambda x: x.nunique()})
cmpny_info_unique = cmpny_aggregated['industry'].agg(lambda x: x.nunique())

In [109]:
# industry种类
# industry_list = indeed.industry.value_counts().sort_index()
industry_list = indeed.industry.unique()[1:]

In [110]:
industry_list = tz.pipe(
    industry_list,
    c.map(lambda s: s.split(",")),
    c.reduce(lambda x,y: x+y),
    set,
    list
)

In [111]:
print(len(industry_list))
industry_list

25

['PHARMACEUTICALS',
 'RESTAURANTS_TRAVEL_AND_LEISURE',
 'RETAIL',
 'HEALTH_CARE',
 'REAL_ESTATE',
 'GOVERNMENT',
 'TRANSPORT_AND_FREIGHT',
 'MEDIA_NEWS_AND_PUBLISHING',
 'HUMAN_RESOURCES_AND_STAFFING',
 'AEROSPACE_AND_DEFENSE',
 'AGRICULTURE_AND_EXTRACTION',
 'ORGANIZATION',
 'CONSULTING_AND_BUSINESS_SERVICES',
 'AUTO',
 'CONSTRUCTION',
 'INTERNET_AND_SOFTWARE',
 'BANKS_AND_FINANCIAL_SERVICES',
 'INSURANCE',
 'INDUSTRIAL_MANUFACTURING',
 'TELECOMMUNICATIONS',
 'ENERGY_AND_UTILITIES',
 'COMPUTERS_AND_ELECTRONICS',
 'FOOD_AND_BEVERAGES',
 'EDUCATION_AND_SCHOOLS',
 'CONSUMER_GOODS_AND_SERVICES']

In [ ]:
# from functools import reduce
# lll = [['ENERGY_AND_UTILITIES'],
#  ['BANKS_AND_FINANCIAL_SERVICES', 'HEALTH_CARE'],
#  ['EDUCATION_AND_SCHOOLS'],
#  ['TRANSPORT_AND_FREIGHT'],
#  ['CONSULTING_AND_BUSINESS_SERVICES', 'HUMAN_RESOURCES_AND_STAFFING']]
# reduce(lambda x,y: x+y, lll)

In [113]:
cmpny_info_unique[cmpny_info_unique>1]

companyId
company00050     2
company00087     2
company00112     2
company00129     2
company00351     2
company00587     2
company00668     2
company01237     2
company01929     2
company02335     2
company03016     2
company03168     2
company03628     2
company03750     2
company04236     2
company06036     2
company07124     2
company07187     2
company07204     2
company07615     3
company07708     2
company09569     2
company09796     2
company10055     2
company10283     2
company11083     2
company11965     2
company12449     2
company12651     2
company129325    2
                ..
company37976     2
company37990     2
company38138     2
company39317     2
company40386     2
company44069     2
company47357     2
company48618     2
company51211     2
company55499     2
company57424     2
company58679     2
company59280     2
company59607     2
company59742     2
company61391     2
company62522     2
company68628     2
company71241     2
company72681     2
company72963     2
company75526     2
company76003     3
company76010     2
company89330     2
company93490     2
company93883     2
company95692     2
company96886     2
company97191     2
Name: industry, Length: 96, dtype: int64

In [180]:
indeed[indeed.companyId=='company07615']

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,normTitleCategory,descriptionCharacterLength,descriptionWordCount,experienceRequired,estimatedSalary,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirement,jobAgeDays,clicks,localClicks
10797,2016-11-23,company07615,job0010261,US,MI,Troy,0.0,NaN,NaN,account manager,sales,2125,362,5.0,89000,EN,1.0,0.0,Higher education,11,19,0
37325,2017-04-25,company07615,job0034681,US,IN,Portage,3.5,NaN,NaN,quality assurance engineer,techsoftware,1357,188,NaN,82900,EN,0.0,0.0,Higher education,15,24,3
63173,2017-08-15,company07615,job0058179,US,PA,Clairton,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",utility worker,install,2246,410,NaN,26000,EN,0.0,0.0,1,20,142,1
80492,2017-10-28,company07615,job0073987,US,AL,Fairfield,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",shift manager,management,2566,371,2.0,66500,EN,1.0,0.0,High school,62,23,3
101733,2017-01-06,company07615,job0092295,US,MI,Troy,3.5,NaN,NaN,supply chain manager,transport,3535,569,7.0,77600,EN,1.0,0.0,Higher education,78,31,0
127858,2017-05-04,company07615,job0112551,US,WI,Portage,3.5,NaN,NaN,metallurgical engineer,engchem,3181,450,5.0,68100,EN,0.0,0.0,Higher education,24,13,0
141237,2017-07-02,company07615,job0122489,US,PA,Munhall,3.5,NaN,INDUSTRIAL_MANUFACTURING,research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,67,7,0
150949,2017-08-14,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,72,25,0
155267,2017-09-02,company07615,job0129780,US,MI,Ecorse,3.5,NaN,INDUSTRIAL_MANUFACTURING,safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,91,19,1
168611,2017-10-30,company07615,job0143210,US,PA,Pittsburgh,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",social and health program consultant,service,4758,646,10.0,116800,EN,0.0,0.0,Higher education,12,22,16
173103,2017-11-19,company07615,job0143210,US,PA,Pittsburgh,3.5,NaN,INDUSTRIAL_MANUFACTURING,social and health program consultant,service,4758,646,10.0,116800,EN,0.0,0.0,Higher education,32,18,2
176817,2016-10-06,company07615,job0149839,US,MI,Detroit,3.5,NaN,NaN,NaN,NaN,3946,615,NaN,98100,EN,1.0,1.0,Higher education,71,19,0
181650,2016-10-29,company07615,job0092295,US,MI,Troy,3.5,NaN,NaN,supply chain manager,transport,3535,569,7.0,77600,EN,1.0,0.0,Higher education,9,24,2
229074,2017-07-03,company07615,job0122489,US,PA,Munhall,3.5,NaN,INDUSTRIAL_MANUFACTURING,research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,68,4,3
254014,2017-10-19,company07615,job0058179,US,PA,Clairton,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",utility worker,install,2246,410,NaN,26000,EN,0.0,0.0,1,85,80,5
258472,2017-11-06,company07615,job0143210,US,PA,Pittsburgh,3.5,NaN,INDUSTRIAL_MANUFACTURING,social and health program consultant,service,4758,646,10.0,116800,EN,0.0,0.0,Higher education,19,36,6
274522,2016-11-20,company07615,job0010261,US,MI,Troy,0.0,NaN,NaN,account manager,sales,2125,362,5.0,89000,EN,1.0,0.0,Higher education,8,4,0
285345,2017-02-11,company07615,job0221288,US,TX,Hughes Springs,3.5,NaN,NaN,utility worker,install,2220,358,NaN,26900,EN,0.0,0.0,High school,29,30,3
305970,2017-05-15,company07615,job0034681,US,IN,Portage,3.5,NaN,NaN,quality assurance engineer,techsoftware,1357,188,NaN,82900,EN,0.0,0.0,Higher education,34,3,0
324809,2017-08-06,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,64,27,0
333292,2017-09-12,company07615,job0058179,US,PA,Clairton,3.5,NaN,INDUSTRIAL_MANUFACTURING,utility worker,install,2246,410,NaN,26000,EN,0.0,0.0,1,48,77,2
346428,2017-11-07,company07615,job0143210,US,PA,Pittsburgh,3.5,NaN,INDUSTRIAL_MANUFACTURING,social and health program consultant,service,4758,646,10.0,116800,EN,0.0,0.0,Higher education,20,30,13
392738,2017-05-09,company07615,job0279753,US,IN,Gary,3.5,NaN,NaN,quality assurance analyst,techinfo,2779,461,3.0,50300,EN,1.0,0.0,Higher education,20,29,2
394329,2017-05-16,company07615,job0279753,US,IN,Gary,3.5,NaN,NaN,quality assurance analyst,techinfo,2779,461,3.0,50300,EN,1.0,0.0,Higher education,27,14,0
402949,2017-06-23,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"INDUSTRIAL_MANUFACTURING,AGRICULTURE_AND_EXTRA...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,20,16,3
413326,2017-08-08,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,67,22,3
413601,2017-08-09,company07615,job0289564,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",senior operational manager,management,3469,508,5.0,107700,EN,1.0,0.0,2,28,3,3
452817,2017-01-04,company07615,job0092295,US,MI,Troy,3.5,NaN,NaN,supply chain manager,transport,3535,569,7.0,77600,EN,1.0,0.0,Higher education,76,28,7
517144,2017-10-16,company07615,job0058179,US,PA,Clairton,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",utility worker,install,2246,410,NaN,26000,EN,0.0,0.0,1,82,62,3
574846,2017-06-04,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"INDUSTRIAL_MANUFACTURING,AGRICULTURE_AND_EXTRA...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,2,50,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17024804,2016-10-31,company07615,job0092295,US,MI,Troy,3.5,NaN,NaN,supply chain manager,transport,3535,569,7.0,77600,EN,1.0,0.0,Higher education,11,43,6
17029108,2016-11-21,company07615,job0514409,CA,ON,Nanticoke,0.0,NaN,NaN,electronics technician,install,4843,784,2.0,42300,EN,0.0,0.0,None,9,26,0
17046881,2017-03-15,company07615,job0221288,US,TX,Hughes Springs,3.5,NaN,NaN,utility worker,install,2220,358,NaN,26900,EN,0.0,0.0,High school,61,8,1
17075585,2017-07-19,company07615,job0289564,US,MI,Ecorse,3.5,NaN,INDUSTRIAL_MANUFACTURING,senior operational manager,management,3469,508,5.0,107700,EN,1.0,0.0,2,8,42,1
17079694,2017-08-06,company07615,job0289564,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",senior operational manager,management,3469,508,5.0,107700,EN,1.0,0.0,2,25,6,1
17118540,2016-11-29,company07615,job0514409,CA,ON,Nanticoke,0.0,NaN,NaN,electronics technician,install,4843,784,2.0,42300,EN,0.0,0.0,None,17,17,1
17151692,2017-05-28,company07615,job0279753,US,IN,Gary,3.5,NaN,NaN,quality assurance analyst,techinfo,2779,461,3.0,50300,EN,1.0,0.0,Higher education,39,26,3
17152878,2017-06-02,company07615,job0279753,US,IN,Gary,3.5,NaN,"INDUSTRIAL_MANUFACTURING,AGRICULTURE_AND_EXTRA...",quality assurance analyst,techinfo,2779,461,3.0,50300,EN,1.0,0.0,Higher education,44,25,8
17230623,2017-04-19,company07615,job0112551,US,WI,Portage,3.5,NaN,NaN,NaN,NaN,3181,450,5.0,68100,EN,0.0,0.0,Higher education,9,22,2
17235799,2017-05-12,company07615,job0034681,US,IN,Portage,3.5,NaN,NaN,quality assurance engineer,techsoftware,1357,188,NaN,82900,EN,0.0,0.0,Higher education,31,29,1
17320725,2017-04-27,company07615,job0112551,US,WI,Portage,3.5,NaN,NaN,metallurgical engineer,engchem,3181,450,5.0,68100,EN,0.0,0.0,Higher education,16,6,0
17330637,2017-06-09,company07615,job0122489,US,PA,Munhall,3.5,NaN,"INDUSTRIAL_MANUFACTURING,AGRICULTURE_AND_EXTRA...",research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,44,5,2
17339772,2017-07-19,company07615,job0129780,US,MI,Ecorse,3.5,NaN,INDUSTRIAL_MANUFACTURING,safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,47,16,3
17341952,2017-07-28,company07615,job0289564,US,MI,Ecorse,3.5,NaN,INDUSTRIAL_MANUFACTURING,senior operational manager,management,3469,508,5.0,107700,EN,1.0,0.0,2,16,29,3
17344001,2017-08-06,company07615,job0058179,US,PA,Clairton,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",utility worker,install,2246,410,NaN,26000,EN,0.0,0.0,1,11,146,2
17387211,2017-01-20,company07615,job0010261,US,MI,Troy,3.5,NaN,NaN,account manager,sales,2125,362,5.0,89000,EN,1.0,0.0,Higher education,69,10,1
17409268,2017-04-29,company07615,job0122489,US,PA,Munhall,3.5,NaN,NaN,research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,4,66,3
17419994,2017-06-15,company07615,job0279753,US,IN,Gary,3.5,NaN,"INDUSTRIAL_MANUFACTURING,AGRICULTURE_AND_EXTRA...",quality assurance analyst,techinfo,2779,461,3.0,50300,EN,1.0,0.0,Higher education,57,41,2
17428550,2017-07-23,company07615,job0122489,US,PA,Munhall,3.5,NaN,INDUSTRIAL_MANUFACTURING,research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,89,18,0
17497897,2017-05-02,company07615,job0122489,US,PA,Munhall,3.5,NaN,NaN,research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,7,33,1
17500643,2017-05-14,company07615,job0122489,US,PA,Munhall,3.5,NaN,NaN,research engineer,techinfo,3061,523,5.0,81500,EN,0.0,0.0,2,19,25,1
17528853,2017-09-14,company07615,job0073987,US,AL,Fairfield,3.5,NaN,INDUSTRIAL_MANUFACTURING,shift manager,management,2566,371,2.0,66500,EN,1.0,0.0,High school,19,15,0
17536486,2017-10-17,company07615,job0289564,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",senior operational manager,management,3469,508,5.0,107700,EN,1.0,0.0,2,97,9,3
17541334,2017-11-06,company07615,job0374344,US,PA,Braddock,3.5,NaN,INDUSTRIAL_MANUFACTURING,operations associate,admin,1144,251,NaN,50600,EN,0.0,0.0,None,33,2,2
17557993,2016-11-24,company07615,job0092295,US,MI,Troy,0.0,NaN,NaN,supply chain manager,transport,3535,569,7.0,77600,EN,1.0,0.0,Higher education,34,27,3
17561149,2017-01-10,company07615,job0010261,US,MI,Troy,3.5,NaN,NaN,account manager,sales,2125,362,5.0,89000,EN,1.0,0.0,Higher education,59,29,1
17588029,2017-05-10,company07615,job0112551,US,WI,Portage,3.5,NaN,NaN,metallurgical engineer,engchem,3181,450,5.0,68100,EN,0.0,0.0,Higher education,29,23,1
17593655,2017-06-03,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"INDUSTRIAL_MANUFACTURING,AGRICULTURE_AND_EXTRA...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,1,42,1
17613309,2017-08-29,company07615,job0129780,US,MI,Ecorse,3.5,NaN,"AGRICULTURE_AND_EXTRACTION,INDUSTRIAL_MANUFACT...",safety specialist,hr,3152,464,5.0,93200,EN,1.0,0.0,2,88,18,2
17618214,2017-09-19,company07615,job0058179,US,PA,Clairton,3.5,NaN,INDUSTRIAL_MANUFACTURING,utility worker,install,2246,410,NaN,26000,EN,0.0,0.0,1,55,72,0

In [181]:
# 情况：industry的种类
indeed[indeed.companyId=='company76003']

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,normTitleCategory,descriptionCharacterLength,descriptionWordCount,experienceRequired,estimatedSalary,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirement,jobAgeDays,clicks,localClicks
194595,2017-02-01,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,29,23,0
196715,2017-02-11,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,59,35,20
230560,2017-07-09,company76003,job0185561,CA,AB,Medicine Hat,3.8,110.0,NaN,operator,install,3605,563,1.0,46900,EN,0.0,1.0,1,3,31,1
252448,2017-10-12,company76003,job0199735,CA,AB,Medicine Hat,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,3518,587,NaN,55100,EN,0.0,1.0,None,10,27,17
262964,2017-11-25,company76003,job0206843,CA,AB,Grande Prairie,3.8,110.0,"ENERGY_AND_UTILITIES,AGRICULTURE_AND_EXTRACTION",operator,install,3838,564,NaN,52100,EN,0.0,1.0,1,12,14,0
292052,2017-03-14,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,70,16,4
347943,2017-11-13,company76003,job0206843,CA,AB,Grande Prairie,3.8,110.0,"ENERGY_AND_UTILITIES,AGRICULTURE_AND_EXTRACTION",operator,install,3838,564,NaN,52100,EN,0.0,1.0,1,0,139,43
633537,2017-01-25,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,42,107,57
808688,2017-01-19,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,16,10,9
896174,2017-01-15,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,12,43,17
985964,2017-01-23,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,40,83,44
1072714,2017-01-15,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,32,60,37
1159864,2017-01-06,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,23,119,64
1167395,2017-02-10,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,58,59,26
1336627,2017-01-07,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,4,47,15
1553631,2017-07-08,company76003,job0185561,CA,AB,Medicine Hat,3.8,110.0,NaN,operator,install,3605,563,1.0,46900,EN,0.0,1.0,1,2,26,5
1938829,2017-11-19,company76003,job0206843,CA,AB,Grande Prairie,3.8,110.0,"ENERGY_AND_UTILITIES,AGRICULTURE_AND_EXTRACTION",operator,install,3838,564,NaN,52100,EN,0.0,1.0,1,6,22,8
1974397,2017-04-05,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,NaN,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,91,26,2
2043250,2017-01-08,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,25,83,36
2047570,2017-01-28,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,45,30,9
2139226,2017-02-14,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,42,22,1
2220936,2017-01-16,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,13,44,14
2234112,2017-03-17,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,72,6,6
2395141,2017-01-02,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,19,167,74
2484849,2017-01-10,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,27,124,68
2583278,2017-02-27,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,55,30,1
2748314,2017-01-04,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,21,141,74
2760652,2017-03-02,company76003,job0746659,CA,AB,Medicine Hat,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",operator,install,2898,476,NaN,42400,EN,0.0,1.0,High school,16,13,9
2821917,2017-11-23,company76003,job0206843,CA,AB,Grande Prairie,3.8,110.0,"ENERGY_AND_UTILITIES,AGRICULTURE_AND_EXTRACTION",operator,install,3838,564,NaN,52100,EN,0.0,1.0,1,10,25,2
2986916,2017-10-06,company76003,job0199735,CA,AB,Medicine Hat,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,3518,587,NaN,55100,EN,0.0,1.0,None,4,34,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15100801,2017-02-14,company76003,job0746659,CA,AB,Medicine Hat,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",operator,install,2898,476,NaN,42400,EN,0.0,1.0,High school,0,35,17
15107280,2017-03-16,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,72,13,13
15281196,2017-03-03,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,58,10,0
15375347,2017-03-30,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,86,30,12
15623072,2017-01-12,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,29,124,79
15720202,2017-02-24,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,52,15,2
15772473,2017-10-10,company76003,job0199735,CA,AB,Medicine Hat,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,3518,587,NaN,55100,EN,0.0,1.0,None,8,44,10
15804462,2017-02-06,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,34,29,12
15816693,2017-04-02,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,NaN,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,89,14,14
15896361,2017-02-24,company76003,job0746659,CA,AB,Medicine Hat,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",operator,install,2898,476,NaN,42400,EN,0.0,1.0,High school,9,24,7
16064146,2017-01-11,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,28,116,66
16153501,2017-01-17,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,34,133,78
16154179,2017-01-20,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,37,93,37
16456117,2017-07-06,company76003,job0185561,CA,AB,Medicine Hat,3.8,110.0,NaN,operator,install,3605,563,1.0,46900,EN,0.0,1.0,1,0,48,21
16506604,2017-01-22,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,39,73,41
16598639,2017-02-08,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,36,2,2
16601194,2017-02-20,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,48,25,11
16603318,2017-03-01,company76003,job0746659,CA,AB,Medicine Hat,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",operator,install,2898,476,NaN,42400,EN,0.0,1.0,High school,15,20,3
16604548,2017-03-07,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,63,9,0
16695484,2017-03-21,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,77,29,0
16858849,2017-01-21,company76003,job0164061,CA,AB,Edmonton,3.8,110.0,ENERGY_AND_UTILITIES,human resources advisor,hr,7708,1084,3.0,83300,EN,1.0,1.0,Higher education,38,60,43
17136430,2017-03-22,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,78,25,0
17160949,2017-07-07,company76003,job0185561,CA,AB,Medicine Hat,3.8,110.0,NaN,operator,install,3605,563,1.0,46900,EN,0.0,1.0,1,1,57,16
17211572,2017-01-23,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,ENERGY_AND_UTILITIES,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,19,23,15
17216451,2017-02-15,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,43,21,5
17225517,2017-03-28,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,84,29,3
17482229,2017-02-22,company76003,job0746659,CA,AB,Medicine Hat,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",operator,install,2898,476,NaN,42400,EN,0.0,1.0,High school,8,25,8
17545021,2017-11-21,company76003,job0206843,CA,AB,Grande Prairie,3.8,110.0,"ENERGY_AND_UTILITIES,AGRICULTURE_AND_EXTRACTION",operator,install,3838,564,NaN,52100,EN,0.0,1.0,1,8,25,9
17577423,2017-03-25,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,"AGRICULTURE_AND_EXTRACTION,ENERGY_AND_UTILITIES",electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,81,3,3
17580356,2017-04-07,company76003,job0162644,US,CO,Grand Junction,3.8,110.0,NaN,electronics technician,install,2196,374,1.0,48500,EN,0.0,1.0,None,94,38,6

In [150]:
job_dup = indeed_nondup[indeed_nondup.duplicated(subset='jobId',keep=False)]
cmpny_aggregated['avgOverallRating','numReviews','industry'].agg('unique')

KeyboardInterrupt:

In [158]:
cmpny_aggregated['avgOverallRating','numReviews','industry'].n_unique()

AttributeError: 'DataFrameGroupBy' object has no attribute 'n_unique'

In [ ]:
print(cmpny_aggregated.groups)
d = cmpny_aggregated.aggregate(len)
print(d.reset_index().rename(columns={"id": "num_entries"}))

In [137]:
indeed[indeed.normTitle.isnull()]

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,normTitleCategory,descriptionCharacterLength,descriptionWordCount,experienceRequired,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirement,jobAgeDays,clicks,localClicks
7,2016-10-01,company00007,job0000007,DE,NW,Düsseldorf,2.5,86.0,NaN,NaN,NaN,2471,380,NaN,24500,NaN,DE,NaN,NaN,NaN,79,25,3
42,2016-10-01,company00042,job0000042,US,NH,Barnstead,0.0,NaN,NaN,NaN,NaN,48,36,NaN,41400,NaN,EN,0.0,0.0,None,37,4,0
58,2016-10-01,company00058,job0000058,CA,ON,Waterdown,0.0,NaN,NaN,NaN,NaN,158,24,NaN,29500,CAD,EN,0.0,0.0,None,26,16,2
66,2016-10-01,company00066,job0000066,US,MN,Clearwater,0.0,NaN,NaN,NaN,NaN,549,167,NaN,20600,USD,EN,0.0,0.0,None,22,9,3
74,2016-10-01,company00073,job0000074,US,AZ,Phoenix,0.0,NaN,NaN,NaN,NaN,103,27,NaN,42700,NaN,EN,0.0,0.0,None,19,8,1
79,2016-10-01,company00078,job0000079,US,MI,Dearborn,4.2,542.0,NaN,NaN,NaN,2004,277,3.0,87100,NaN,EN,0.0,0.0,Higher education,18,34,2
98,2016-10-01,company00097,job0000098,US,VA,Stafford,0.0,NaN,NaN,NaN,NaN,2364,432,NaN,30700,NaN,EN,0.0,0.0,None,12,26,3
119,2016-10-01,company00090,job0000119,DE,BW,Crailsheim,0.0,NaN,NaN,NaN,NaN,276,45,NaN,23600,NaN,DE,NaN,NaN,NaN,8,20,0
122,2016-10-01,company00117,job0000122,US,CA,Venice,0.0,NaN,NaN,NaN,NaN,122,79,NaN,42500,NaN,EN,0.0,0.0,None,8,25,2
129,2016-10-01,company00121,job0000129,US,ME,Portland,0.0,NaN,NaN,NaN,NaN,83,68,NaN,38800,NaN,EN,0.0,0.0,None,5,13,3
147,2016-10-01,company00090,job0000147,DE,BY,Würzburg,0.0,NaN,NaN,NaN,NaN,183,86,NaN,25600,NaN,DE,NaN,NaN,NaN,3,25,1
232,2016-10-02,company00219,job0000232,US,CA,San Diego,4.4,23.0,NaN,NaN,NaN,169,99,NaN,37100,NaN,EN,0.0,0.0,None,31,20,1
234,2016-10-02,company00221,job0000234,DE,BW,Sonnenbühl,0.0,NaN,NaN,NaN,NaN,371,99,NaN,26000,NaN,DE,NaN,NaN,NaN,26,20,1
236,2016-10-02,company00223,job0000236,CA,ON,North York,0.0,NaN,NaN,NaN,NaN,2218,388,NaN,27400,CAD,EN,0.0,0.0,High school,26,30,1
249,2016-10-02,company00236,job0000249,US,UNKNOWN,NaN,4.4,81.0,NaN,NaN,NaN,4785,714,NaN,49800,NaN,EN,0.0,0.0,Higher education,21,27,6
251,2016-10-02,company00237,job0000251,DE,BB,Potsdam,0.0,NaN,NaN,NaN,NaN,1829,254,NaN,20300,NaN,DE,NaN,NaN,NaN,20,19,2
273,2016-10-02,company00255,job0000273,DE,BE,Berlin,0.0,NaN,NaN,NaN,NaN,1789,266,NaN,23900,NaN,DE,NaN,NaN,NaN,12,18,18
278,2016-10-02,company00260,job0000278,US,TX,Corpus Christi,0.0,NaN,NaN,NaN,NaN,2254,371,NaN,61200,USD,EN,0.0,0.0,None,11,3,3
294,2016-10-02,company00275,job0000294,CA,BC,Burnaby,2.0,97.0,NaN,NaN,NaN,3260,528,NaN,50100,NaN,EN,0.0,1.0,None,8,20,3
325,2016-10-02,company00303,job0000325,DE,RP,Seibersbach,0.0,NaN,NaN,NaN,NaN,1313,224,NaN,23700,NaN,DE,NaN,NaN,NaN,3,11,2
334,2016-10-02,company00312,job0000334,US,IN,Bloomington,0.0,NaN,NaN,NaN,NaN,856,149,NaN,21500,USD,EN,0.0,0.0,None,3,42,19
339,2016-10-02,company00316,job0000338,DE,SH,Husum,0.0,NaN,NaN,NaN,NaN,2923,463,NaN,17900,NaN,DE,NaN,NaN,NaN,2,28,0
345,2016-10-02,company00322,job0000344,CA,ON,Windsor,0.0,NaN,NaN,NaN,NaN,3355,494,10.0,50900,CAD,EN,0.0,0.0,None,2,26,19
364,2016-10-03,company00339,job0000363,US,LA,Geismar,3.6,44.0,NaN,NaN,NaN,899,232,NaN,26900,NaN,EN,0.0,1.0,None,79,7,0
395,2016-10-03,company00369,job0000394,DE,HB,Bremen,0.0,NaN,NaN,NaN,NaN,1167,194,NaN,20500,NaN,DE,NaN,NaN,NaN,52,6,6
396,2016-10-03,company00370,job0000395,DE,BE,Berlin,0.0,NaN,NaN,NaN,NaN,1383,272,NaN,22400,NaN,DE,NaN,NaN,NaN,51,29,22
406,2016-10-03,company00378,job0000405,US,IL,Chicago,3.7,138.0,HEALTH_CARE,NaN,NaN,951,135,0.5,43200,NaN,EN,0.0,1.0,High school,41,31,13
429,2016-10-03,company00399,job0000428,US,IL,Shelbyville,0.0,NaN,NaN,NaN,NaN,1412,283,2.0,35900,NaN,EN,0.0,1.0,Higher education,27,132,1
434,2016-10-03,company00404,job0000433,US,CA,West Hills,0.0,NaN,NaN,NaN,NaN,128,17,NaN,39500,NaN,EN,0.0,0.0,None,24,28,2
479,2016-10-03,company00447,job0000477,US,MA,Worcester,0.0,NaN,NaN,NaN,NaN,46,27,NaN,38600,NaN,EN,0.0,0.0,None,13,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634900,2017-11-29,company70477,job0147068,US,PA,Chadds Ford,5.0,68.0,NaN,NaN,NaN,97,64,NaN,43900,NaN,EN,0.0,0.0,0,25,22,1
17634904,2017-11-29,company42246,job0076322,DE,SH,Treia,0.0,NaN,NaN,NaN,NaN,1067,143,NaN,23100,NaN,DE,NaN,NaN,NaN,23,24,2
17634912,2017-11-29,company74733,job0735839,DE,UNKNOWN,NaN,0.0,57.0,NaN,NaN,NaN,1310,201,NaN,0,NaN,EN,0.0,1.0,2,21,14,3
17634945,2017-11-29,company90718,job0205940,DE,ST,Magdeburg,0.0,NaN,NaN,NaN,NaN,2523,420,NaN,18100,NaN,DE,NaN,NaN,NaN,15,18,6
17634950,2017-11-29,company03889,job0207333,US,CT,New Haven,0.0,NaN,NaN,NaN,NaN,5970,845,5.0,77600,NaN,EN,0.0,1.0,2,14,37,7
17634957,2017-11-29,company88945,job0693141,DE,NI,Göttingen,0.0,NaN,NaN,NaN,NaN,3316,463,NaN,22300,NaN,DE,NaN,NaN,NaN,14,17,5
17634965,2017-11-29,company199047,job0651404,US,PA,Philadelphia,0.0,NaN,NaN,NaN,NaN,1714,262,NaN,20600,NaN,EN,0.0,0.0,0,12,5,1
17634974,2017-11-29,company80627,job0693237,DE,SH,Flensburg,0.0,NaN,NaN,NaN,NaN,1263,212,NaN,19000,NaN,DE,NaN,NaN,NaN,11,27,1
17634980,2017-11-29,company106615,job0257120,DE,HB,Bremen,0.0,NaN,NaN,NaN,NaN,1711,287,NaN,23100,NaN,DE,NaN,NaN,NaN,9,27,10
17634990,2017-11-29,company04393,job0736129,US,MO,Saint Joseph,3.0,125.0,NaN,NaN,NaN,2755,514,5.0,90700,NaN,EN,0.0,1.0,0,8,26,8
17635001,2017-11-29,company139789,job0377690,US,TX,Odessa,0.0,NaN,NaN,NaN,NaN,3040,518,1.0,31000,NaN,EN,0.0,1.0,0,6,45,18
17635013,2017-11-29,company04461,job1002770,US,FL,Jacksonville,0.0,NaN,RETAIL,NaN,NaN,2819,487,2.0,27200,NaN,EN,0.0,0.0,0,2,16,6
17635025,2017-11-29,company19626,job0922372,DE,NW,Düsseldorf,0.0,NaN,NaN,NaN,NaN,1106,190,NaN,25700,NaN,DE,NaN,NaN,NaN,0,3,0
17635035,2017-11-29,company40066,job0906981,DE,NW,Dorsten,0.0,NaN,NaN,NaN,NaN,1678,269,NaN,25800,NaN,DE,NaN,NaN,NaN,0,38,3
17635042,2017-11-29,company248893,job1036296,DE,RP,Wörth am Rhein,0.0,NaN,NaN,NaN,NaN,2830,432,NaN,26000,NaN,DE,NaN,NaN,NaN,0,43,1
17635053,2017-11-30,company35535,job0062093,DE,BY,Burghausen,3.8,83.0,NaN,NaN,NaN,2228,318,NaN,25600,NaN,DE,NaN,NaN,NaN,99,4,1
17635065,2017-11-30,company36274,job0063603,DE,NW,Dortmund,0.0,NaN,NaN,NaN,NaN,1342,205,NaN,29300,NaN,DE,NaN,NaN,NaN,85,13,13
17635112,2017-11-30,company68603,job0142130,DE,HH,Hamburg,4.0,84.0,NaN,NaN,NaN,1434,228,NaN,21500,NaN,DE,NaN,NaN,NaN,41,21,21
17635133,2017-11-30,company33061,job0929387,DE,NW,Duisburg,0.0,NaN,NaN,NaN,NaN,1537,192,NaN,23500,NaN,DE,NaN,NaN,NaN,30,19,2
17635164,2017-11-30,company02103,job0838419,CA,QC,Saint-Laurent,3.9,NaN,NaN,NaN,NaN,2980,494,NaN,0,NaN,FR,NaN,NaN,NaN,23,20,1
17635177,2017-11-30,company106603,job0257078,US,CO,Denver,0.0,NaN,NaN,NaN,NaN,1010,225,NaN,21800,USD,EN,0.0,1.0,1,20,60,18
17635199,2017-11-30,company28157,job0257503,DE,BW,Leonberg,0.0,NaN,NaN,NaN,NaN,416,95,NaN,20500,NaN,DE,NaN,NaN,NaN,14,28,2
17635201,2017-11-30,company230159,job0854437,CA,ON,Mississauga,0.0,NaN,NaN,NaN,NaN,72,100,NaN,34800,NaN,EN,0.0,0.0,0,14,24,12
17635219,2017-11-30,company03633,job0805372,US,TX,Beaumont,4.0,29.0,NaN,NaN,NaN,409,146,NaN,20800,NaN,EN,0.0,0.0,0,10,21,3
17635220,2017-11-30,company49510,job0437623,DE,BE,Berlin,4.5,30.0,NaN,NaN,NaN,2015,358,NaN,25000,NaN,DE,NaN,NaN,NaN,10,40,30
17635229,2017-11-30,company00090,job0651279,US,NV,Las Vegas,0.0,NaN,NaN,NaN,NaN,404,88,NaN,24500,NaN,EN,0.0,0.0,0,9,29,6
17635246,2017-11-30,company147764,job0409420,US,FL,Saint Petersburg,4.0,78.0,NaN,NaN,NaN,106,91,NaN,35400,NaN,EN,0.0,0.0,0,6,16,2
17635251,2017-11-30,company00090,job0409428,US,NY,Rochester,0.0,NaN,NaN,NaN,NaN,767,147,NaN,23000,NaN,EN,0.0,0.0,0,3,131,26
17635273,2017-11-30,company209489,job1004153,US,NY,Eagle Bay,0.0,NaN,NaN,NaN,NaN,2362,406,NaN,21000,NaN,EN,0.0,0.0,0,2,21,0
17635294,2017-11-30,company70718,job1082906,CA,AB,Calgary,0.0,NaN,NaN,NaN,NaN,1552,306,NaN,58600,NaN,EN,0.0,0.0,0,0,169,115

In [17]:
(indeed.stateProvince=='UNKNOWN').sum()

131838

In [40]:
city_list = indeed.city.dropna()

In [43]:
city_list = city_list.apply(lambda x: x.lower()).unique()

In [26]:
indeed.descriptionWordCount.min()

2

In [25]:
indeed.jobLanguage.unique()

array(['EN', 'DE', 'FR'], dtype=object)

## Company v.s. Job

In [51]:
indeed.groupby(['companyId','country','stateProvince'])['jobId'].agg('nunique')

companyId     country  stateProvince
company00000  US       TX                 1
company00001  US       MA                97
company00002  US       DC                 1
                       FL                 1
company00003  CA       AB                24
                       BC                41
                       MB                 8
                       NB                 2
                       NL                 3
                       NS                 3
                       ON                97
                       PE                 2
                       QC                21
                       SK                 4
              US       AK                 3
                       AL                21
                       AR                 7
                       AZ                46
                       CA               200
                       CO                39
                       CT                19
                       DE                 4
                       FL               138
                       GA               125
                       HI                 5
                       IA                 9
                       ID                14
                       IL                69
                       IN                15
                       KS                20
                                       ...
company99981  US       GA                 1
                       KS                 2
                       MA                 1
                       PA                 1
company99982  CA       ON                 1
company99983  US       MD                 2
                       TX                 1
company99984  DE       BB                 4
                       ST                 2
company99985  DE       NW                 1
company99986  US       CT                 1
company99987  US       CA                 1
company99988  CA       AB                 1
company99989  US       MO                 1
company99990  US       MN                 1
company99991  US       TX                 1
company99992  US       CO                 1
company99993  US       CA                 1
                       MA                 1
                       MI                 2
                       NY                 2
                       PA                 1
                       SC                 1
                       WI                 1
company99994  US       MI                 4
company99995  DE       BY                 1
company99996  US       WI                 1
company99997  CA       AB                 1
company99998  US       CA                 1
company99999  US       FL                 1
Name: jobId, Length: 390137, dtype: int64

In [46]:
indeed.groupby(['companyId','jobId'])['clicks'].agg('sum')

companyId     jobId
company00000  job0000000      37
company00001  job0000001      54
              job0000070      39
              job0003468     494
              job0013295     591
              job0018408    1078
              job0032246     287
              job0049452     571
              job0057213     274
              job0060862     241
              job0094747     742
              job0095981     969
              job0120450     320
              job0122918     746
              job0130841    1095
              job0133529    1203
              job0143853    1192
              job0171653     148
              job0180410    4874
              job0202154    1092
              job0210898      80
              job0225580    1274
              job0227715     268
              job0232420     359
              job0264991      68
              job0267698      69
              job0277008     544
              job0291289     682
              job0291290     752
              job0293632    1302
                            ...
company99984  job0322256     564
              job0437723      99
              job0629185     153
              job0674088      79
company99985  job0236095     162
company99986  job0236096    1936
company99987  job0236099     674
company99988  job0236100    3200
company99989  job0236101     430
company99990  job0236104     268
company99991  job0236106    1206
company99992  job0236108     637
company99993  job0236112     171
              job0516362      54
              job0745724     141
              job0834707     119
              job0884063      31
              job0890567      73
              job0968774      40
              job1001743      44
              job1009652      22
company99994  job0236114     316
              job0280367    1394
              job0588096     529
              job0670882     266
company99995  job0236116     221
company99996  job0236117     923
company99997  job0236118     210
company99998  job0236119     343
company99999  job0236122     181
Name: clicks, Length: 1084664, dtype: int64

## Most Needed Job/Categories Year/Months

In [76]:
# overall clicks/local clicks

In [122]:
# job listing with most clicks
job_aggregated=indeed.groupby("jobId",sort=True)['clicks','localClicks'].sum()

In [95]:
job_aggregated.shape

(1082908, 2)

In [96]:
indeed.columns

Index(['date', 'companyId', 'jobId', 'country', 'stateProvince', 'city',
       'avgOverallRating', 'numReviews', 'industry', 'normTitle',
       'normTitleCategory', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired', 'estimatedSalary',
       'salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'educationRequirement', 'jobAgeDays', 'clicks', 'localClicks'],
      dtype='object')

In [120]:
# 研究同一jobId会不会有不同的信息
# industry & compnay rating 可以互补

In [97]:
indeed_nondup = indeed.drop_duplicates(subset=['companyId', 'jobId', 'country', 'stateProvince', 'city',
       'avgOverallRating', 'numReviews', 'industry', 'normTitle',
       'normTitleCategory', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired', 'estimatedSalary',
       'salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'educationRequirement'], keep='first')

In [98]:
indeed_nondup.shape

(1318148, 23)

In [106]:
indeed_nondup = indeed_nondup.sort_values(by='jobId')

In [111]:
job_dup = indeed_nondup[indeed_nondup.duplicated(subset='jobId',keep=False)]

In [119]:
job_dup

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,normTitleCategory,descriptionCharacterLength,descriptionWordCount,experienceRequired,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirement,jobAgeDays,clicks,localClicks
715304,2016-11-22,company00024,job0000024,US,MI,Flint,3.7,131.0,NaN,works manager,management,2517,365,NaN,53100,NaN,EN,0.0,0.0,Higher education,96,27,2
24,2016-10-01,company00024,job0000024,US,MI,Flint,3.7,131.0,HEALTH_CARE,works manager,management,2517,365,NaN,53100,NaN,EN,0.0,0.0,Higher education,45,4,2
34,2016-10-01,company00034,job0000034,US,TX,Austin,3.3,75.0,NaN,speech therapist,therapy,2237,306,NaN,52300,NaN,EN,0.0,1.0,None,39,24,3
15174733,2016-11-07,company00034,job0000034,US,TX,Austin,3.3,75.0,HEALTH_CARE,speech therapist,therapy,2237,306,NaN,52300,NaN,EN,0.0,1.0,None,76,19,10
79,2016-10-01,company00078,job0000079,US,MI,Dearborn,4.2,542.0,NaN,NaN,NaN,2004,277,3.0,87100,NaN,EN,0.0,0.0,Higher education,18,34,2
1147663,2016-10-07,company00078,job0000079,US,MI,Dearborn,4.2,542.0,NaN,program leader,management,2004,277,3.0,87100,NaN,EN,0.0,0.0,Higher education,24,42,2
84,2016-10-01,company00083,job0000084,DE,BW,Stuttgart,3.5,12.0,NaN,praktikant marketing,marketing,2260,323,NaN,24200,NaN,DE,NaN,NaN,NaN,15,30,2
800961,2016-11-11,company00083,job0000084,DE,BW,Stuttgart,0.0,12.0,NaN,praktikant marketing,marketing,2260,323,NaN,24200,NaN,DE,NaN,NaN,NaN,56,12,3
98426,2016-11-19,company00095,job0000096,US,MI,Allen Park,0.0,127.0,NaN,program manager,project,2480,456,2.0,60000,NaN,EN,1.0,0.0,Higher education,63,32,3
96,2016-10-01,company00095,job0000096,US,MI,Allen Park,3.4,127.0,NaN,program manager,project,2480,456,2.0,60000,NaN,EN,1.0,0.0,Higher education,14,11,3
183899,2016-11-10,company00098,job0000099,US,MS,Batesville,3.6,173.0,NaN,machine operator,manufacturing,985,176,NaN,29600,NaN,EN,0.0,0.0,High school,52,16,6
99,2016-10-01,company00098,job0000099,US,MS,Batesville,3.6,173.0,AGRICULTURE_AND_EXTRACTION,machine operator,manufacturing,985,176,NaN,29600,NaN,EN,0.0,0.0,High school,12,42,5
116,2016-10-01,company00112,job0000116,US,MI,Inkster,0.0,NaN,NaN,retail sales associate,retail,1901,354,NaN,22100,NaN,EN,0.0,0.0,None,8,19,4
2301138,2016-11-07,company00112,job0000116,US,MI,Inkster,3.9,NaN,NaN,retail sales associate,retail,1901,354,NaN,22100,NaN,EN,0.0,0.0,None,45,17,8
890287,2016-11-16,company00115,job0000120,US,FL,Haines City,3.7,80.0,RESTAURANTS_TRAVEL_AND_LEISURE,mechanic,install,4391,682,0.5,23300,NaN,EN,0.0,0.0,Higher education,53,2,2
120,2016-10-01,company00115,job0000120,US,FL,Haines City,3.7,80.0,NaN,mechanic,install,4391,682,0.5,23300,NaN,EN,0.0,0.0,Higher education,8,31,0
132,2016-10-01,company00124,job0000132,US,UNKNOWN,NaN,3.4,139.0,NaN,training coordinator,education,5384,768,2.0,46900,NaN,EN,1.0,0.0,Higher education,5,50,4
711096,2016-11-02,company00124,job0000132,US,UNKNOWN,NaN,0.0,139.0,NaN,training coordinator,education,5384,768,2.0,46900,NaN,EN,1.0,0.0,Higher education,37,29,5
15266114,2016-11-21,company00138,job0000148,CA,ON,Toronto,0.0,102.0,NaN,mobile developer,techsoftware,2080,397,NaN,87200,CAD,EN,0.0,0.0,Higher education,53,5,1
148,2016-10-01,company00138,job0000148,CA,ON,Toronto,3.2,102.0,NaN,mobile developer,techsoftware,2080,397,NaN,87200,CAD,EN,0.0,0.0,Higher education,3,8,5
153,2016-10-01,company00143,job0000153,US,MD,Suitland,4.4,76.0,NaN,analyst,math,2375,400,4.0,84000,NaN,EN,0.0,0.0,None,2,25,3
275967,2016-11-28,company00143,job0000153,US,MD,Suitland,0.0,76.0,NaN,analyst,math,2375,400,4.0,84000,NaN,EN,0.0,0.0,None,60,5,2
9442241,2016-11-01,company00197,job0000207,DE,BE,Berlin,0.0,17.0,NaN,projektleiter,management,1563,248,NaN,34800,NaN,DE,NaN,NaN,NaN,81,19,3
207,2016-10-02,company00197,job0000207,DE,BE,Berlin,4.0,17.0,NaN,projektleiter,management,1563,248,NaN,34800,NaN,DE,NaN,NaN,NaN,52,13,13
217,2016-10-02,company00207,job0000217,DE,NW,Sankt Augustin,3.7,63.0,NaN,lagermitarbeiter,warehouse,791,107,NaN,20800,NaN,DE,NaN,NaN,NaN,45,10,1
8912951,2016-11-01,company00207,job0000217,DE,NW,Sankt Augustin,0.0,63.0,NaN,lagermitarbeiter,warehouse,791,107,NaN,20800,NaN,DE,NaN,NaN,NaN,75,33,1
451568,2016-11-28,company00238,job0000252,US,TX,Houston,3.9,18.0,RESTAURANTS_TRAVEL_AND_LEISURE,housekeeping manager,sanitation,2290,447,NaN,18100,NaN,EN,0.0,0.0,None,76,18,18
252,2016-10-02,company00238,job0000252,US,TX,Houston,3.9,18.0,NaN,housekeeping manager,sanitation,2290,447,NaN,18100,NaN,EN,0.0,0.0,None,20,6,1
1334787,2016-11-29,company00246,job0000260,US,NY,Greenwich Village,3.6,NaN,NaN,car wash attendant,sanitation,2691,505,NaN,15700,USD,EN,0.0,1.0,None,76,6,0
260,2016-10-02,company00246,job0000260,US,NY,Greenwich Village,0.0,NaN,NaN,car wash attendant,sanitation,2691,505,NaN,15700,USD,EN,0.0,1.0,None,18,15,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17594961,2017-06-09,company03801,job1074544,US,MN,Park Rapids,3.1,94.0,NaN,registered nurse,mednurse,2443,332,NaN,50200,NaN,EN,0.0,1.0,None,36,14,2
16621877,2017-05-22,company03801,job1074544,US,MN,Park Rapids,3.1,94.0,HEALTH_CARE,registered nurse,mednurse,2443,332,NaN,50200,NaN,EN,0.0,1.0,None,18,9,1
16673429,2016-11-06,company37231,job1074958,CA,SK,Bengough,0.0,NaN,NaN,registered nurse,mednurse,1902,340,NaN,79900,CAD,EN,0.0,1.0,Higher education,12,14,1
17111905,2016-10-26,company37231,job1074958,CA,SK,Bengough,4.8,NaN,NaN,registered nurse,mednurse,1902,340,NaN,79900,CAD,EN,0.0,1.0,Higher education,0,22,3
16698788,2017-04-04,company01125,job1075230,DE,BY,Ammerland,3.6,NaN,NaN,mechaniker,manufacturing,1627,296,NaN,30200,NaN,DE,NaN,NaN,NaN,8,15,0
16961694,2017-03-28,company01125,job1075230,DE,BY,Ammerland,0.0,NaN,NaN,mechaniker,manufacturing,1627,296,NaN,30200,NaN,DE,NaN,NaN,NaN,1,5,2
16706892,2017-05-09,company26107,job1075294,US,OH,Mansfield,0.0,NaN,NaN,shift leader,management,4437,702,NaN,22000,NaN,EN,1.0,0.0,None,4,5,1
16882773,2017-05-08,company26107,job1075294,US,OH,Mansfield,0.0,NaN,NaN,NaN,NaN,4437,702,NaN,22000,NaN,EN,1.0,0.0,None,3,3,0
16716519,2017-06-20,company01153,job1075366,US,CA,Castro Valley,3.7,14.0,NaN,banker ii,finance,3197,470,NaN,23800,NaN,EN,0.0,0.0,High school,0,30,3
16980637,2017-06-19,company01153,job1075366,US,CA,Castro Valley,3.7,14.0,NaN,NaN,NaN,3197,470,NaN,23800,NaN,EN,0.0,0.0,High school,0,39,8
17633697,2017-11-24,company42488,job1077022,US,NJ,Wyckoff,0.0,NaN,NaN,retail sales associate,retail,6366,968,16.0,22100,NaN,EN,0.0,0.0,High school,43,8,3
16922458,2017-10-27,company00162,job1077022,US,NJ,Wyckoff,0.0,NaN,NaN,NaN,NaN,6366,968,16.0,22100,NaN,EN,0.0,0.0,High school,16,24,1
17318514,2017-04-17,company68120,job1077501,DE,NW,Kalkar,0.0,NaN,NaN,werkstudent,uncategorized,1812,312,NaN,18700,NaN,DE,NaN,NaN,NaN,0,27,3
16972480,2017-05-15,company68120,job1077501,DE,NW,Kalkar,0.0,NaN,NaN,werkstudent,uncategorized,1812,332,NaN,18700,NaN,DE,NaN,NaN,NaN,29,15,1
17261310,2017-08-31,company09889,job1077662,US,GA,Atlanta,3.9,45.0,NaN,vice president of product management,techsoftware,6011,853,10.0,157000,NaN,EN,1.0,0.0,2,0,20,11
16997562,2017-09-01,company09889,job1077662,US,GA,Atlanta,3.9,45.0,BANKS_AND_FINANCIAL_SERVICES,vice president of product management,techsoftware,6011,853,10.0,157000,NaN,EN,1.0,0.0,2,0,31,2
17058634,2017-05-05,company27474,job1078249,DE,NW,Dortmund,0.0,NaN,NaN,NaN,NaN,2311,378,NaN,26600,NaN,DE,NaN,NaN,NaN,10,15,3
17588541,2017-05-12,company27474,job1078249,DE,NW,Dortmund,0.0,NaN,NaN,elektroniker,engelectric,2311,376,NaN,26600,NaN,DE,NaN,NaN,NaN,17,13,0
17214907,2017-02-07,company252126,job1078870,US,DC,Washington,4.0,47.0,NaN,account executive,sales,2927,509,2.0,56900,NaN,EN,0.0,0.0,Higher education,0,2,1
17131759,2017-03-01,company252126,job1078870,US,DC,Washington,4.0,47.0,INTERNET_AND_SOFTWARE,account executive,sales,2927,509,2.0,56900,NaN,EN,0.0,0.0,Higher education,22,19,2
17314624,2017-03-31,company01714,job1078933,US,WA,Renton,0.0,1991.0,NaN,front end associate,retail,537,63,NaN,27200,NaN,EN,0.0,0.0,None,2,6,2
17138873,2017-04-01,company01714,job1078933,US,WA,Renton,3.9,1991.0,NaN,front end associate,retail,537,63,NaN,27200,NaN,EN,0.0,0.0,None,3,21,1
17151507,2017-05-27,company01645,job1079016,US,FL,Pensacola,3.4,10598.0,NaN,assistant store manager,retail,2550,351,NaN,18200,NaN,EN,1.0,0.0,High school,37,16,0
17495443,2017-04-21,company01645,job1079016,US,FL,Pensacola,3.4,10598.0,NaN,NaN,NaN,2550,351,NaN,18200,NaN,EN,1.0,0.0,High school,0,8,2
17187299,2017-10-30,company54307,job1079230,US,WA,Redmond,0.0,NaN,NaN,business development manager,management,2243,344,10.0,85400,NaN,EN,0.0,0.0,None,3,14,2
17629838,2017-11-07,company54307,job1079230,US,WA,Redmond,0.0,NaN,NaN,business development manager,management,2243,344,10.0,73500,NaN,EN,0.0,0.0,None,11,23,1
17187775,2017-11-01,company22181,job1079232,US,SC,Columbia,3.0,35.0,NaN,restaurant manager,food,1311,197,NaN,49700,NaN,EN,0.0,0.0,None,3,2,2
17275376,2017-10-30,company22181,job1079232,US,SC,Columbia,3.0,35.0,NaN,restaurant manager,food,1311,197,NaN,44200,NaN,EN,0.0,0.0,None,1,25,0
17300519,2017-01-27,company00786,job1080285,US,WI,Madison,3.2,3.0,NaN,technician,install,726,136,NaN,36600,NaN,EN,0.0,0.0,None,2,9,1
17566882,2017-02-05,company00786,job1080285,US,WI,Madison,0.0,3.0,NaN,technician,install,726,136,NaN,36600,NaN,EN,0.0,0.0,None,11,25,25

In [141]:
# 研究公司的评分
cmpny_aggregated=indeed.groupby("companyId",sort=True)

In [129]:
indeed_byCompany = indeed.sort_values(by='companyId')

In [140]:
cmpny_aggregated

In [135]:
indeed_byCompany[['companyId','country', 'stateProvince', 'city',
       'avgOverallRating', 'numReviews', 'industry']]

,companyId,country,stateProvince,city,avgOverallRating,numReviews,industry
0,company00000,US,TX,Dallas-Fort Worth,0.0,NaN,NaN
13931719,company00000,US,TX,Dallas-Fort Worth,0.0,NaN,NaN
11463588,company00000,US,TX,Dallas-Fort Worth,0.0,NaN,NaN
14791986,company00001,US,MA,Norwood,4.0,551.0,HEALTH_CARE
5394084,company00001,US,MA,Needham,4.0,551.0,HEALTH_CARE
1881112,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
9109471,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
7604421,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
3168275,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
14793745,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
9289869,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
268558,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
8176923,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
1528897,company00001,US,MA,Brookline,4.0,551.0,HEALTH_CARE
3004849,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
9662613,company00001,US,MA,Chestnut Hill,4.0,551.0,HEALTH_CARE
8177053,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
6451029,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
6157414,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
2623658,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
9204400,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
12546346,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
8628937,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
2096620,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
7473176,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
3330943,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
8531068,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
9203753,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
15852161,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
10714219,company00001,US,MA,Boston,4.0,551.0,HEALTH_CARE
...,...,...,...,...,...,...,...
9219447,company99997,CA,AB,Tofield,0.0,NaN,NaN
3313158,company99997,CA,AB,Tofield,0.0,NaN,NaN
8426829,company99997,CA,AB,Tofield,0.0,NaN,NaN
312491,company99997,CA,AB,Tofield,0.0,NaN,NaN
14686622,company99997,CA,AB,Tofield,0.0,NaN,NaN
1989226,company99997,CA,AB,Tofield,0.0,NaN,NaN
3670731,company99998,US,CA,Alameda,3.5,65.0,NaN
312493,company99998,US,CA,Alameda,3.5,65.0,NaN
12306763,company99998,US,CA,Alameda,3.5,65.0,NaN
6399607,company99998,US,CA,Alameda,3.5,65.0,NaN
2256406,company99998,US,CA,Alameda,3.5,65.0,NaN
1728535,company99998,US,CA,Alameda,3.5,65.0,NaN
9043618,company99998,US,CA,Alameda,3.5,65.0,NaN
3930087,company99998,US,CA,Alameda,3.5,65.0,NaN
11165396,company99998,US,CA,Alameda,3.5,65.0,NaN
7989785,company99998,US,CA,Alameda,3.5,65.0,NaN
6133947,company99998,US,CA,Alameda,3.5,65.0,NaN
14601723,company99998,US,CA,Alameda,3.5,65.0,NaN
8691257,company99998,US,CA,Alameda,3.5,65.0,NaN
1111936,company99998,US,CA,Alameda,3.5,65.0,NaN
11953716,company99998,US,CA,Alameda,3.5,65.0,NaN
13189917,company99998,US,CA,Alameda,3.5,65.0,NaN
11957641,company99998,US,CA,Alameda,3.5,65.0,NaN
13011923,company99998,US,CA,Alameda,3.5,65.0,NaN
576270,company99998,US,CA,Alameda,3.5,65.0,NaN
9402981,company99998,US,CA,Alameda,3.5,65.0,NaN
312499,company99999,US,FL,Boynton Beach,4.1,98.0,NaN
14068084,company99999,US,FL,Boynton Beach,4.1,98.0,NaN
15568068,company99999,US,FL,Boynton Beach,4.1,98.0,NaN
10366086,company99999,US,FL,Boynton Beach,4.1,98.0,NaN

In [136]:
# indeed[indeed.companyId=='company00003']

In [ ]:
# job category with most clicks

In [ ]:
# job title with most clicks

In [ ]:
# salary

In [ ]:
# job listing with highest salary / average

In [ ]:
# job category with highest salary

In [ ]:
# job title with highest salary

In [ ]:
# quantity

In [ ]:
# job listing with most needs

In [ ]:
# job category with highest salary

In [ ]:
# job title with highest salarynumeric_only

In [91]:
mydata = [{'subid' : 'B14-111', 'name':'b','age': 75, 'fdg':1.78},
          {'subid' : 'B14-112', 'name':'a','age': 22, 'fdg':1.56},
          {'subid' : 'B14-112', 'name':'a','age': 40, 'fdg':2.00},]
df = pd.DataFrame(mydata)

gg = df.groupby("subid",sort=True).agg('sum')
gg

         age   fdg
subid
B14-111   75  1.78
B14-112   62  3.56

In [109]:
df.duplicated(subset='name',keep=False)

0    False
1     True
2     True
dtype: bool

In [11]:
df = pd.DataFrame({"id": [1, 2, 3, 4], "name": ["sam", "sam", "peter", "jack"],"job":["football","football","volleyball","basketball"], "number": [0, 8, 8, 2]})
g = df.groupby(["name"])
print (g.groups)

d = g.apply(lambda x: x.max())
print (d)
print (d.reset_index())

{'jack': Int64Index([3], dtype='int64'), 'peter': Int64Index([2], dtype='int64'), 'sam': Int64Index([0, 1], dtype='int64')}
       id         job   name  number
name
jack    4  basketball   jack       2
peter   3  volleyball  peter       8
sam     2    football    sam       8

In [ ]:
def longest_str():
    return df.apply(lambda x : len(x)).idxmax()

In [90]:
df = pd.DataFrame({'A': ['a','a','b'], 'B': ['bst','bddd,bst','bddd'], 'C': [4,6,5]})
df['D'] = 
df

   A  B  C
0  a  A  4
1  a  A  6
2  a  A  5

In [52]:
df.B.fillna('',inplace=True)
df['len_of_industry'] = df.B.apply(lambda x:len(x))
g = df.groupby('A')['B','len_of_industry']
df['B'] = g.apply(lambda x: x.str)

   A    B  C
0  a  [A]  4
1  a  [A]  6
2  a  [A]  5

In [76]:
a[a.apply(lambda x : len(x)).idxmax()]

'bddd,bst'

In [75]:
pd.Series(['a']*3)

0    a
1    a
2    a
dtype: object

In [ ]:
a.replace

In [73]:
a[a.apply(lambda x : len(x)).idxmax()]
pd.Series(['a']*3)

'bddd,bst'

In [64]:
a.max()

'bst'

In [57]:
temp = pd.Series( ['bst','bddd,bst','bddd'])
temp.

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.

TypeError: reduction operation 'argmax' not allowed for this dtype